body {
  font-size: 100%;
  background-color: powderblue;
  margin: 0 auto;
  font-family: Verdana, Helvetica, sans-serif;
}
hr {border-color: powderblue;}
/* Fonts---------------------------------------------------- */
h1 {
  font-size: 4em;
  color: blue;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}
p {
  font-size: 2em;
  color: blue;
  text-align: center;
}
section h2 {
  font-size: 1.5em;
  text-decoration: underline;
  margin: 5px 0px 0px 5px;
  padding: 2px;
}
section p {
  font-size: 1.5em;
  color: black;
  margin: 5px 0px 0px 5px;
  padding: 2px;
  text-align: left;
}
.eventAnswer {
  font-size: 2em;
  color: black;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
}
section pre {
  margin: 0px;
  padding: 0px;
}
code { font-size: 1.5em; }

/* --------------------------------------------------------------- */

header {
  margin: 0 auto;
}
/* The navigation bar--------------------------------------------- */
nav {
  border: 2px solid black;
  margin: 0 auto;
  width: 98%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: linen;
}
li { float: left; }

li a {
  font-size: 1.5em;
  display: block;
  color: black;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
  color: linen;
  cursor: pointer;
}
/* ---------------------------------------------------------------- */

#home_page_image_container {
  font-size: 1.5em;
  width: 60vw;
  height: 55vh;
  margin: 0 auto;
  background-color: linen;
  border: 2px solid white;
}
/* Code examples container----------------------------------------- */

.content_container {
  width: 85%;
  margin: 0 auto 10px;
  border-radius: 5px;
  background-color: linen;
  border: 2px solid white;
}

.content_container:hover {
  border: 2px solid black;
}

.answer_button {
  position: relative;
  left: 33.3%;
  width: 33.3%;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: blue;
  background-color: powderblue;
}

.answer_button:hover {
  background-color: blue;
  color: linen;
  cursor: pointer;
}

span {display: block;}

#outerBox {
  margin: 10px auto;
  position: relative;
  width: 800px;
  height: 400px;
  background-color: powderblue;
  border: 2px solid black;
}
#innerBox {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: blue;
}


/* Go to the top of the page button.------------------------------------------ */
.pageTop {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 99;
   font-size: 1.5em;
   color: blue;
   background-color: linen;
 }

 .pageTop:hover {
   background-color: blue;
   color: linen;
   cursor: pointer;
 }
